.background {
    /* The image used */
    background-image: url("../media/background.jpg");
    
      /* Set a specific height */
    min-height: 100vh;
    
    /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0;
}

.mainpage > .inner {
    position: absolute;
    top: 30%;
    width:100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mainpage > :nth-child(2) > h1 {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}

.mainpage > :nth-child(2) > :nth-child(2) > ul > a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    animation: fadeIn 3s;
}

.inner {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
  }
  
  .dropdown {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .dropdown ul {
    flex: 1 1 auto;
  }

  .information {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;   
    padding-top: 2%;
  }
  
  .container-information {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
  }
  
  .container-information h3 {
    margin-top: 0;
  }
  
  .container-information a {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .container-information a:hover {
    color: #0077c9;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen and (max-width: 1430px) {
    /* Split dropdown into 2 seperate columns*/

    .mainpage > :nth-child(2)  {
        font-size: 50px;
        top: 0%;
        height: 100%;
        width: 100%;
    }
    .mainpage > :nth-child(2) > h1 {
        font-size: 50px;
        top: 5%;
    }

    
}
