.background > img{
    width: 100%;
    height: 100vh;
    position: absolute;
}

body{
    margin: 0;
}



.mainpage > :nth-child(2) > h1 {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
}

.dropdown {
    display: flex;
    flex-direction: row;
    padding: 0 2px;
    justify-content: center;
    padding-top: 10%;
}

.mainpage > :nth-child(2) > :nth-child(2) > ul > a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    animation: fadeIn 3s;
}


.inner {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  
  
  .dropdown {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .dropdown ul {
    flex: 1 1 auto;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen and (max-width: 1430px) {
    /* Split dropdown into 2 seperate columns*/

    .mainpage > :nth-child(2)  {
        font-size: 50px;
        top: 0%;
        height: 100vh;
        width: 100%;
    }
    .mainpage > :nth-child(2) > h1 {
        font-size: 50px;
        top: 5%;
    }

    
}

@media screen and (max-width: 568px) {
    /* Split dropdown into 2 seperate columns*/

    .mainpage > :nth-child(2)  {
        font-size: 50px;
        top: 0%;
        height: 100vh;
    }
    .mainpage > :nth-child(2) > h1 {
        font-size: 50px;
        top: 3%;
    }
    .mainpage > :nth-child(2) > :nth-child(2)  {
        font-size: 15px;
    }
}