.background > img{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

body{
    margin: 0;
}


.mainpage > :nth-child(2){
    position: absolute;
    top: 30%;
    width: 100vw;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mainpage > :nth-child(2) > h1 {
    position: absolute;
    font-size: 100px;
    left: 50%;
    top: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;


}

.dropdown {
    display: flex;
    flex-direction: row;
    padding: 0 2px;
    justify-content: center;
    padding-top: 10%;
}

.mainpage > :nth-child(2) > :nth-child(2) > ul > a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    animation: fadeIn 3s;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
